[Unit]
Description=Node Exporter

[Service]
User=root
ExecStart={{ node_exporter_final_dest }}/node_exporter --web.listen-address=:{{ node_exporter_listen_port }} {{ node_exporter_flags }}

[Install]
WantedBy=multi-user.target
